[workspace]
members = ["cargo:."]

# default ubuntu-20.04 is not supported by github anymore
[dist.github-custom-runners]
global = "ubuntu-22.04"

# Config for 'dist'
[dist]
# The preferred dist version to use in CI (Cargo.toml SemVer syntax)
cargo-dist-version = "0.30.2"
# CI backends to support
ci = "github"
# The installers to generate for each app
installers = []
# Target platforms to build apps for (Rust target-triple syntax)
targets = ["aarch64-unknown-linux-musl", "armv7-unknown-linux-musleabihf", "x86_64-unknown-linux-gnu"]
# Unix archive format (tar.gz instead of tar.xz)
unix-archive = "tar.gz"
